body{
  color: #f473B9;
    text-align: center;
    background-color:#FFDDEE}
    
    img
    {
      margin-left: 200px;
      margin-right: 300px;
    }
    .about{
      color: #FF5C8D;}
      .will{
        color: #FF5C8D;
        text-align: center;
        margin-top: %;
        margin-bottom: 10%;
      }
      .foot{
        background-color: #fff;
      }